node_modules
dist
Dockerfile
docker-compose.yml
.git
.gitignore
.env
.env.*
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
logs
*.log
coverage
.nyc_output
.idea
.project
.classpath
.c9
*.launch
.settings
*.sublime-*
.vscode
*.md
tmp
temp
