# Configuración de Contenedores y Base de Datos

DB_CONTAINER_NAME=riwi-cine-db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123456
POSTGRES_DB=postgres
DB_USER=postgres
DB_PASSWORD=123456
DB_NAME=postgres
DB_PORT=5432

APP_CONTAINER_NAME=riwi-cine-backend
APP_PORT=3000

# Límites de Recursos
DB_CPU_LIMIT=2
DB_MEM_LIMIT=512MB
APP_CPU_LIMIT=2
APP_MEM_LIMIT=512MB

# Configuración de la Aplicación y Seguridad

NODE_ENV=development

JWT_SECRET=super_secret_jwt
JWT_EXPIRES_IN=1d

REFRESH_SECRET=TU_NUEVO_SECRETO
REFRESH_EXPIRES_IN=7d